.hero{
height:80vh;
background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
url('/assets/church.jpg');
background-size:cover;
background-position:center;
}

.ev{
    width: 1274px;
}
.fond{
    background: url('/assets/images/fond1.png');
}

.fond22{
    background:url('/assets/images/fond22.png');
    
}

.fond223{
background:url('/assets/images/fond3.png');
}